body {
  background: linear-gradient(
    179.4deg,
    rgb(253, 240, 233) 2.2%,
    rgb(255, 194, 203) 96.2%
  );
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: rgb(0, 0, 0);
  font-family: "Work Sans", sans-serif;
}
.container {
  background-color: #faf0f2c1;
  max-width: 600px;
  margin: 20px auto;
  padding: 40px;
  border-radius: 14px;
  box-shadow: 15px 15px 52px 15px rgba(234, 159, 181, 0.722);
}
h1 {
  text-align: center;
  font-size: 40px;
  color: #ee879d;
}
select {
  display: block;
  width: 100%;
  font-size: 20px;
  border-radius: 12px;
  padding: 12px;
  background-color: #e8f5f7;
  border-color: #ee879d;
  font-family: "Work Sans", sans-serif;
}
.styled {
  color: #ee879d;
}
h2 {
  margin: 0 0 5px;
  font-size: 28px;
  color: #75bec7;
}
.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.date {
  color: #ee879d;
  font-weight: bold;
}

.time {
  font-size: 48px;
  font-weight: bold;
  color: #0000008a;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}
.go-back {
  color: #518187;
  font-weight: normal;
}
.material-symbols-outlined {
  display: inline-block;
  vertical-align: middle;
}
footer {
  text-align: center;
  color: rgb(0, 0, 0, 0.7);
  font-size: 16px;
}
footer .material-symbols-outlined {
  color: #ee879d;
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
}
strong {
  color: #ee879d;
}
a {
  color: #ee879d;
  font-weight: bold;
}
