body {
  background: linear-gradient(
    109.6deg,
    rgb(255, 221, 225) 11.2%,
    rgb(255, 255, 255) 92.2%
  );
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: rgb(0, 0, 0);
}
.container {
  background-color: #faf0f2c1;
  max-width: 600px;
  margin: 40px auto;
  padding: 60px;
  border-radius: 14px;
  box-shadow: 15px 15px 52px 15px rgb(239, 208, 224);
}
h1 {
  text-align: center;
  font-size: 40px;
  color: #ee8792;
}
select {
  display: block;
  width: 100%;
  font-size: 20px;
  border-radius: 12px;
  padding: 12px;
  background-color: #e8f5f7;
  border-color: #f9c0c6;
}
h2 {
  margin: 0 0 5px;
  font-size: 28px;
  color: #75bec7;
}
.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.date {
  color: #f5b0b7;
}

.time {
  font-size: 48px;
  font-weight: bold;
  color: #a8b2bf;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}

footer {
  text-align: center;
  color: rgb(0, 0, 0, 0.7);
}
a {
  color: #5de0f1;
}
